<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.serviceModel>
    <services>
      <service name="ReceiveAdapter.ReceiveAdapterService" behaviorConfiguration="ReceiveAdapterServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8189/ReceiveAdapter" />
            <add baseAddress="net.tcp://localhost:8289/ReceiveAdapter" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8189/ReceiveAdapter" binding="basicHttpBinding" contract="Connected.Schemas.IReceiveAdapter" />
        <endpoint address="net.tcp://localhost:8289/ReceiveAdapter" binding="netTcpBinding" contract="Connected.Schemas.IReceiveAdapter" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ReceiveAdapterServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="registrationKey" value="123" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ConnectedEntities" connectionString="metadata=res://*/ConnectedModel.csdl|res://*/ConnectedModel.ssdl|res://*/ConnectedModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NABUKADNAZAR\SQLSERVERENT;initial catalog=Connected;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1507.118" newVersion="4.2.1507.118" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>