@using Connected.Configuration.WebApp.Controllers
@model Connected.Configuration.WebApp.ViewModel.AdapterBasicViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@{
    Html.RenderPartial("~/Views/AdapterBasic/AdapterBasicForm.cshtml");
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
