<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="ConnectedConfEntities" connectionString="metadata=res://*/Configuration.ConnectedConfDBModel.csdl|res://*/Configuration.ConnectedConfDBModel.ssdl|res://*/Configuration.ConnectedConfDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NABUKADNAZAR\SQLSERVERENT;initial catalog=ConnectedConf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MessageQueueEntities" connectionString="metadata=res://*/MessageQueue.MessageQueueModel.csdl|res://*/MessageQueue.MessageQueueModel.ssdl|res://*/MessageQueue.MessageQueueModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NABUKADNAZAR\SQLSERVERENT;initial catalog=Connected.MessageQueue;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Connected.Inbound.InboundService" behaviorConfiguration="Generic_Behaviour">
        <endpoint binding="basicHttpBinding" bindingConfiguration="Generic_HttpBinding" contract="Connected.Schemas.IInboundService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:85/ConnectedRouterService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Generic_Behaviour">
          <serviceThrottling maxConcurrentCalls="50" />
          <serviceMetadata policyVersion="Policy15" httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ConnectInBoundHttpEndPoint"></binding>
        <binding name="Generic_HttpBinding" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport proxyCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:85/ConnectedRouterService"
          binding="basicHttpBinding" bindingConfiguration="ConnectInBoundHttpEndPoint"
          contract="Connected.Schemas.IInboundService"
          name="ConnectInBoundHttpEndPoint">
      </endpoint>
    </client>
  </system.serviceModel>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1507.118" newVersion="4.2.1507.118" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>